Date and time you first noticed this bug*

<div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             class="form-control"
             [bsConfig]="bsConfig"
             #dp="bsDatepicker"
             bsDatepicker [(bsValue)]="bsValue">
    </div>
    <div class="col-xs-12 col-12 col-md-3 form-group">
      <button class="btn btn-success" (click)="dp.toggle()">Date Picker</button>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               class="form-control"
               [bsConfig]="bsConfig"
               #dp="bsDatepicker"
               bsDatepicker [(bsValue)]="bsValue">
      </div>
      <div class="col-xs-12 col-12 col-md-3 form-group">
        <button class="btn btn-success" (click)="dp.toggle()">Date Picker</button>
      </div>
    </div>
    <form>
      <p>Impact</p>
        <select name="Low">
          <option value="High">High</option>
          <option value="Immediate" selected>Immediate</option>
          <option value="Low">Low</option>

        </select>
      </form>
  <br>
 <p> Detailed Explaination of bug*</p>
  <textarea name="message" rows="5" cols="60">
  </textarea>
<br>
<br>