<div class="form-group">
    Your Name*
    <br>
    <form>
        <label for="firstName">
        <input type="text" id="firstName"  class="form-control" required/>First Name
        </label>
        &nbsp;
        <label for="LastName">
        <input type="text" id="LastName"  class="form-control" required/>Last Name
         </label>
    </form>
</div>   
<div class="form-group">
    <label for ="Email Address">Email*
        <input type="email" class="form-control" required>
    </label>
</div>
