<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
   
    <img style="float: right" src="assets/MarvellousImage.jpeg" width = 500, height = 300>
    <br><br><br>
    <h1 style="color:MediumVioletRed">Contact Our </h1>
    <h1>Customer Support Center </h1> 

</div>
<br><br><br><br><br>
<div style="text-align:center">
    <h2>Contact Information</h2>
    <p>Please fill out your contact Information below</p>
</div>

<form>
    <div class="form-group">
     
      Name*
      <br>
      <form>
          <label for="firstName">
          <input type="text" id="firstName"  class="form-control" required/>First Name
          </label>
          &nbsp;
          <label for="LastName">
          <input type="text" id="LastName"  class="form-control" required/>Last Name
           </label>
         
      </form>
    </div>  
    <div class="form-group">
        <label for ="Email Address">Email*
        <input type="email" class="form-control" required>
        </label>
      </div> 
           <div class="form-group">
              <label for ="Phone">Phone*
              <input type="text" class="form-control" required>
              </label>
            </div>
            <div class="form-group">
                <label for ="Address">Address*
                <input type="address" class="form-control" required>
                </label>
              </div>
              